
= simple_form_for @recipe, html: {mutipart: true} do |f|
    - if @recipe.errors.any?
        #errors
            %p
                = @recipe.errors.count
                Prevented this recipe from saving
            %ul
                - @recipe.errors.full_messages.each do |msg|
                    %li = msg
    .panel-body
        = radio_button_tag(:milk, "Milk Type?")
        = label_tag(:milk_type, "Regular Milk") 
        = radio_button_tag(:milk, "Skim Milk") 
        = label_tag(:milk_type, "Skim Milk") 
        = radio_button_tag(:milk, "Lactose") 
        = label_tag(:milk_type, "Lactose") 
        = radio_button_tag(:milk, "Soy") 
        = label_tag(:milk_type, "Soy") 
        %br
        = radio_button_tag(:sugar, "No Suger") 
        = label_tag(:sugar_content, "No Suger") 
        = radio_button_tag(:sugar, "1 Teaspoons") 
        = label_tag(:sugar_content, "1 Teaspoons") 
        = radio_button_tag(:sugar, "2 Teaspoons") 
        = label_tag(:sugar_content, "2 Teaspoons") 
        = radio_button_tag(:sugar, "3 Teaspoons") 
        = label_tag(:sugar_content, "3 Teaspoons") 
        %br
        = radio_button_tag(:coffee_blend, "Regular Coffee") 
        = label_tag(:coffee_blend_type, "Regular Coffee") 
        = radio_button_tag(:coffee_blend, "Decaf Coffee") 
        = label_tag(:coffee_blend_type, "Decaf Coffee")

        %br
        = radio_button_tag(:strength, "Weak") 
        = label_tag(:coffee_strength, "Weak") 
        = radio_button_tag(:strength, "Regular") 
        = label_tag(:coffee_strength, "Regular") 
        = radio_button_tag(:strength, "Strong") 
        = label_tag(:coffee_strength, "Strong") 
        = radio_button_tag(:strength, "Extra Strong") 
        = label_tag(:coffee_strength, "Extra Strong") 

    =f.button :submit, value: "Order", class: "btn btn-primary" 