!!!
%html
%html
  %head
    %title TEAM COFFEE
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar.navbar-brand
          = link_to "Coffee Box", root_path, class: "btn btn-large btn-primary"
          = link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary"
          
        - if admin_signed_in?
          .navbar.navbar-brand
            = link_to "Admin Logout", destroy_admin_session_path, :method => :delete, class: "btn btn-large btn-primary"
            
        -else
          .navbar.navbar-brand
            = link_to "Admin",	 admin_session_path, class: "btn btn-large btn-primary"
          
        
        - if user_signed_in?
          .navbar.navbar-brand
            = link_to "Logout", destroy_user_session_path, :method => :delete, class: "btn btn-large btn-primary"
            = link_to "Profile", edit_user_registration_path, class: "btn btn-large btn-primary"
        - else
          .navbar.navbar-brand
            = link_to "Sign in", new_user_session_path, class: "btn btn-large btn-primary"
            
        
          - if @current_user
            .navbar-right.navbar-brand Welcome, @current_user.name
            .navbar-right.navbar-brand
              = link_to 'Log Out', logout_path, class: "btn btn-large btn-primary"
          - else
            .navbar-right.navbar-brand
              = link_to 'Twitter Login', '/auth/twitter', class: "btn btn-large btn-primary"

          
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert"
      = yield